

.Apppes{
  font-family: roboto;
}




.hop {
  overflow: hidden;
  background-color: white;
  right: 0;
  left: 0;
  padding-top: 4px;
  padding-left: 7px;
}

.head{
float: left;

background-color: white;
padding-top: 5px;
padding-left: 0.1px;
color:#0F5298;


}


.headered {
  overflow: hidden;
  background-color: white;
  right: 0;
  padding-left: 10px;
  color:#0F5298;
}

.less{
  margin-left: 57px;
  color:#0F5298;
}


